//- doctype html
//- html
//-     head 
//-         title Hello 
//-     body 
//-         h1 Hello!! #{name}
//-         h2= name
//-         h3= value
//-         - const message = 'Hi!'
//-         h2 message: #{message}
//-         ul 
//-             each i in array 
//-                 li #{i.id} : #{i.title}

extends layout 

block content 
    h1 #{name}